<div class = "recto">
  <p class= "deco"></p>
    <div>
      <p>Your question was "<%= @question %>"</p>
      <p> <em>- You -</em></p>
    </div>
</div>

<div class = "recto">
  <p class= "deco"></p>
    <div>
      <p><strong><%= @answer %></strong></p>
      <p> <em>- Your coach -</em></p>
    </div>
</div>


  <%= link_to 'Ask a new question', '/ask' %>
